.git
.gitignore
.DS_Store
.env
.env.*

__pycache__/
*.pyc
.venv/
venv/

client/
desktop-app/
dist/
build/
docs/
examples/
tests/
temp_processed/
audio_storage/
Library/
Downloads/
Pictures/
Movies/
Music/

*.pdf
*.zip
*.webp
*.m4a
*.wav
*.mp3
*.flac
*.ogg
*.aac
*.wma
*.webm
*.mp4
*.mkv
